*{
	box-sizing: border-box;
	outline: none;
	font-family: Gotham;
}


.body{
	width: 95%;
	transition-property: width;
	transition-duration: .5s;
	transition-delay: .2s;
}

.bodyAfter{
	width: 80%;
}
