/* line 1, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  outline: none;
  font-family: Gotham;
}

/* line 6, ../sass/base/_base.scss */
button {
  outline: hidden;
}

/* line 10, ../sass/base/_base.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/base/_base.scss */
section.behind-Navbar {
  height: 66px;
  width: 100%;
}

/* line 22, ../sass/base/_base.scss */
::-webkit-scrollbar {
  width: 7px;
}

/* line 26, ../sass/base/_base.scss */
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}

/* line 31, ../sass/base/_base.scss */
::-webkit-scrollbar-track {
  background-color: #ccc;
}

/* line 1, ../sass/modules/_navbar.scss */
.navBar {
  position: fixed;
  top: 0;
  background-color: #333;
  height: 66px;
  color: #fff;
  text-align: center;
  box-shadow: 0px 2px 6px #474747;
  z-index: 999;
}
/* line 11, ../sass/modules/_navbar.scss */
.navBar ul {
  list-style: none;
  float: right;
}
/* line 15, ../sass/modules/_navbar.scss */
.navBar ul li.apply {
  padding: 15px 23px;
}
/* line 18, ../sass/modules/_navbar.scss */
.navBar ul li.apply:hover {
  background-color: #333;
}
/* line 22, ../sass/modules/_navbar.scss */
.navBar ul li.apply button {
  background-color: #A0A0A0;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
}
/* line 28, ../sass/modules/_navbar.scss */
.navBar ul li.apply button:hover {
  background-color: #C0C0C0;
}
/* line 35, ../sass/modules/_navbar.scss */
.navBar ul li {
  cursor: pointer;
  display: inline;
  float: left;
  padding: 23px;
  width: 150px;
  text-align: center;
}
/* line 43, ../sass/modules/_navbar.scss */
.navBar ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 49, ../sass/modules/_navbar.scss */
.navBar ul li:hover {
  background-color: #383838;
}

/* line 56, ../sass/modules/_navbar.scss */
.navImg {
  padding-top: 10px;
  width: 120px;
}

/* line 61, ../sass/modules/_navbar.scss */
#navLogo {
  position: absolute;
  margin: 0;
  padding: 0 23px;
  height: 66px;
  left: 0;
}
/* line 68, ../sass/modules/_navbar.scss */
#navLogo:hover {
  background-color: transparent;
}

/* line 74, ../sass/modules/_navbar.scss */
.navBar ul li ul {
  background-color: #383838;
  padding: 0;
  margin: 22px -58px 0 0;
  display: none;
}
/* line 80, ../sass/modules/_navbar.scss */
.navBar ul li ul li {
  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: #383838;
  width: 220px;
}
/* line 87, ../sass/modules/_navbar.scss */
.navBar ul li ul li p {
  padding: 10px;
  margin-top: 10px;
  display: none;
}
/* line 94, ../sass/modules/_navbar.scss */
.navBar ul li ul li:hover {
  background-color: #333;
}

/* line 99, ../sass/modules/_navbar.scss */
#faq, #job {
  height: 66px;
}

/* line 103, ../sass/modules/_navbar.scss */
.iconDown1, .iconDown2, .iconDown3 {
  padding: 0 5px;
  transition-property: rotate();
  transition-duration: .5s;
  transition-delay: .2s;
}

/* line 110, ../sass/modules/_navbar.scss */
.iconUp1, .iconUp2, .iconUp3 {
  transform: rotate(180deg);
}

/* line 1, ../sass/modules/_sidebar.scss */
.hiddenSidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 5%;
  background-color: #ccc;
  z-index: 99;
  transition-property: width, background-color;
  transition-duration: .5s;
  transition-delay: .2s;
}
/* line 13, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul {
  list-style: none;
  text-align: center;
}
/* line 17, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul li.toggleIcon {
  position: absolute;
  left: 25px;
  top: 15px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 4px 0px;
  border-radius: 50%;
  border: 1px solid #3c3c3c;
  color: #3c3c3c;
  transition-property: rotate();
  transition-delay: .2s;
  transition-duration: .5s;
}
/* line 33, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul li.toggleIcon:hover {
  color: black;
  border: 1px solid black;
}
/* line 39, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul li.toggledIcon {
  transform: rotate(180deg);
}
/* line 44, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content {
  position: relative;
  left: 999px;
  margin-top: 65px;
  transition-property: left;
  transition-delay: .2s;
  transition-duration: .8s;
}
/* line 52, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .marquee {
  margin: 0;
}
/* line 55, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .marquee p {
  padding: 0 0 0 5px;
  margin: 0 0 0 7px;
  background-color: #A8A8A8;
  width: 115px;
  color: #fff;
  letter-spacing: 2px;
}
/* line 63, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .marquee p::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  left: 137px;
  border-left: 20px solid #a8a8a8;
  border-top: 20px solid transparent;
}
/* line 74, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .marquee marquee {
  background-color: #e0e0e0;
  width: 20%;
  margin-left: 7px;
  margin-right: 7px;
  padding-top: 7px;
}
/* line 82, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .marquee marquee ol li {
  display: inline;
  margin: 20px;
}
/* line 92, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul {
  background-color: transparent;
  position: absolute;
  width: 20%;
  height: 75vh;
  margin: 25px 0px 10px 15px;
  align-items: center;
  padding: 0;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
}
/* line 105, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
/* line 110, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
}
/* line 116, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul:hover::-webkit-scrollbar {
  background-color: #ccc;
}
/* line 120, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul:hover::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
/* line 125, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul li {
  background-color: #aaaaaa;
  margin-bottom: 20px;
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
}
/* line 131, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul li .content-header {
  width: 95%;
  background-color: #ccc;
  margin: 5px auto 20px auto;
  text-transform: uppercase;
  border-radius: 3px;
}
/* line 138, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul li .content-header h3 {
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 146, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul li .content-body button {
  margin-top: 15px;
  background-color: #ccc;
  border: none;
  border-radius: 3px;
  padding: 5px;
}
/* line 153, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul li .content-body button:hover {
  background-color: #D6D6D6;
}
/* line 160, ../sass/modules/_sidebar.scss */
.hiddenSidebar .hiddenSidebar-content .content ul li:last-child {
  margin-bottom: 10px;
}
/* line 167, ../sass/modules/_sidebar.scss */
.hiddenSidebar .shownSidebar-content {
  position: relative;
  left: 0px;
}

/* line 175, ../sass/modules/_sidebar.scss */
.sidebar {
  position: fixed;
  right: 0;
  height: 100%;
  width: 20%;
  background-color: #ccc;
}

/* line 185, ../sass/modules/_sidebar.scss */
.body, .navBar {
  width: 95%;
  transition-property: width;
  transition-duration: .5s;
  transition-delay: .2s;
  text-align: justify;
}

/* line 193, ../sass/modules/_sidebar.scss */
.bodyAfter, .navBar-After {
  width: 80%;
}

/* The Modal (background) */
/* line 2, ../sass/modules/_modal.scss */
.Modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
/* line 17, ../sass/modules/_modal.scss */
.Modal-content {
  position: relative;
  background-color: #cccc;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 5px;
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* The Close Button */
/* line 35, ../sass/modules/_modal.scss */
.close {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* line 42, ../sass/modules/_modal.scss */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* line 49, ../sass/modules/_modal.scss */
.Modal-body {
  margin-top: 80px;
  padding: 10px 0;
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  border-top: none;
}

/* line 1, ../sass/modules/_login-register.scss */
.buttonContainer button {
  text-transform: uppercase;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: #eee;
  color: #000;
  opacity: .5;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  outline: none;
  width: 50%;
  letter-spacing: 7px;
  font-weight: bolder;
  cursor: pointer;
}

/* line 19, ../sass/modules/_login-register.scss */
.buttonContainer button#signIn {
  margin-top: 30px;
}

/* line 23, ../sass/modules/_login-register.scss */
.buttonContainer button#signUp {
  margin-top: 2px;
}

/* line 28, ../sass/modules/_login-register.scss */
.inputWithIcon input {
  position: relative;
  width: 80%;
  margin: 10px;
  background-color: #ccc;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

/* line 39, ../sass/modules/_login-register.scss */
.inputWithIcon {
  align-items: center;
  text-align: center;
}

/* line 44, ../sass/modules/_login-register.scss */
.eye {
  position: absolute;
  cursor: pointer;
  top: 186px;
  right: 55px;
}

/* line 51, ../sass/modules/_login-register.scss */
.eyeReg {
  position: absolute;
  cursor: pointer;
  top: 261px;
  right: 55px;
}

/* line 58, ../sass/modules/_login-register.scss */
.eye-slash {
  display: none;
}

/* line 62, ../sass/modules/_login-register.scss */
#userIcon, #pwIcon {
  position: relative;
  top: 20px;
  left: 12px;
}

/* line 68, ../sass/modules/_login-register.scss */
#emailIcon {
  position: relative;
  top: 42px;
  left: 12px;
}

/* line 74, ../sass/modules/_login-register.scss */
.tabPanel button {
  margin: 10px 0 0 0;
  width: 25%;
  height: 35px;
  border-radius: 20px;
  padding: 0;
  text-align: center;
  background-color: #ccc;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bolder;
}
/* line 87, ../sass/modules/_login-register.scss */
.tabPanel button:hover {
  background-color: #E0E0E0;
}
/* line 91, ../sass/modules/_login-register.scss */
.tabPanel button a {
  text-decoration: none;
  color: #000;
}

/* line 98, ../sass/modules/_login-register.scss */
.tabPanel p {
  margin: 10px 0;
  font-size: 10px;
}
/* line 103, ../sass/modules/_login-register.scss */
.tabPanel .use {
  padding: 5px;
}
/* line 106, ../sass/modules/_login-register.scss */
.tabPanel .use p {
  font-size: 13px;
  margin-left: 10px;
  font-weight: bolder;
}
/* line 112, ../sass/modules/_login-register.scss */
.tabPanel .use a {
  text-decoration: none;
  color: #000;
}
/* line 116, ../sass/modules/_login-register.scss */
.tabPanel .use a .fb, .tabPanel .use a .tw, .tabPanel .use a .go {
  transition-property: background-color, color;
  transition-duration: .5s;
  transition-delay: 0s;
}
/* line 122, ../sass/modules/_login-register.scss */
.tabPanel .use a .fb:hover {
  background-color: #4376b5;
}
/* line 126, ../sass/modules/_login-register.scss */
.tabPanel .use a .tw:hover {
  background-color: #41adda;
}
/* line 130, ../sass/modules/_login-register.scss */
.tabPanel .use a .go:hover {
  background-color: #323232;
  color: #fff;
}
/* line 135, ../sass/modules/_login-register.scss */
.tabPanel .use a .regIcon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #878787;
  padding-top: 8px;
}

/* line 1, ../sass/modules/_searchTab.scss */
span.search-tab {
  width: 60%;
  position: relative;
  bottom: 125px;
  margin: auto;
  display: block;
  padding: 10px;
  background-color: rgba(158, 158, 158, 0.6);
  border-radius: 10px;
  z-index: 99;
}
/* line 12, ../sass/modules/_searchTab.scss */
span.search-tab .searchTabBtns {
  display: flex;
}
/* line 15, ../sass/modules/_searchTab.scss */
span.search-tab .searchTabBtns button {
  float: left;
  height: 45px;
  border: none;
  padding: 0 10px;
  width: 120px;
  background-color: #aaa;
  border-radius: 5px 5px 0 0;
}
/* line 26, ../sass/modules/_searchTab.scss */
span.search-tab .searchPanel {
  height: 50px;
  padding: 10px 5px 10px 10px;
  width: 100%;
  background-color: #ccc;
  display: flex;
  border-radius: 0 5px 5px 5px;
}
/* line 34, ../sass/modules/_searchTab.scss */
span.search-tab .searchPanel input {
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding-left: 15px;
  margin-left: 2px;
}
/* line 43, ../sass/modules/_searchTab.scss */
span.search-tab .searchPanel button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  background-color: #aaa;
  margin-left: 2%;
  transition: margin-left .5s .2s, background-color .3s, border-radius .3s;
}
/* line 52, ../sass/modules/_searchTab.scss */
span.search-tab .searchPanel button:hover {
  background-color: #e0e0e0;
  border-radius: 50% 50%  50% 5px;
}
/* line 58, ../sass/modules/_searchTab.scss */
span.search-tab .searchPanel .searchBtn-After {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  background-color: #aaa;
  margin-left: 1%;
}
/* line 69, ../sass/modules/_searchTab.scss */
span.search-tab .searchPanel select {
  height: 30px;
  width: 30%;
  border: none;
  border-radius: 15px;
  padding: 0 15px;
  margin-left: 2px;
}
/* line 77, ../sass/modules/_searchTab.scss */
span.search-tab .searchPanel select option {
  background-color: red;
  height: 40px;
  border: none;
}
