/* line 1, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  outline: none;
  font-family: Gotham;
}

/* line 7, ../sass/base/_base.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/modules/_navbar.scss */
.navBar {
  position: absolute;
  top: 0;
  background-color: #333;
  width: 100%;
  height: 80px;
  color: #fff;
  text-align: center;
}
/* line 10, ../sass/modules/_navbar.scss */
.navBar ul {
  list-style: none;
  padding: 10px 0;
}
/* line 14, ../sass/modules/_navbar.scss */
.navBar ul li {
  display: inline;
  float: left;
  padding: 20px;
  width: 150px;
}
/* line 20, ../sass/modules/_navbar.scss */
.navBar ul li a {
  color: #fff;
  text-decoration: none;
}

/* line 28, ../sass/modules/_navbar.scss */
.navImg {
  width: 120px;
}

/* line 32, ../sass/modules/_navbar.scss */
.navBar ul li ul {
  height: 120px;
  width: 100%;
  background-color: red;
  padding: 0;
  text-align: center;
}
/* line 39, ../sass/modules/_navbar.scss */
.navBar ul li ul li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: #ccc;
  width: 100%;
}

/* line 1, ../sass/modules/_sidebar.scss */
.hiddenSidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5%;
  background-color: #ccc;
  z-index: 99;
  transition-property: width;
  transition-duration: .5s;
  transition-delay: .2s;
}
/* line 13, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul {
  list-style: none;
  text-align: center;
}
/* line 17, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul li.toggleIcon {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 30px;
  width: 30px;
  padding: 4px 0px;
  border-radius: 50%;
  border: 1px solid #000;
  transition-property: rotate();
  transition-delay: .2s;
  transition-duration: .5s;
}
/* line 35, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul li.toggledIcon {
  transform: rotate(180deg);
}

/* line 41, ../sass/modules/_sidebar.scss */
.sidebar {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20%;
  background-color: #ccc;
}

/* line 49, ../sass/modules/_sidebar.scss */
.body {
  width: 95%;
  transition-property: width;
  transition-duration: .5s;
  transition-delay: .2s;
  text-align: justify;
}

/* line 57, ../sass/modules/_sidebar.scss */
.bodyAfter {
  width: 80%;
}
