/* line 1, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  outline: none;
  font-family: Gotham;
}

/* line 8, ../sass/base/_base.scss */
.body {
  width: 95%;
  transition-property: width;
  transition-duration: .5s;
  transition-delay: .2s;
}

/* line 15, ../sass/base/_base.scss */
.bodyAfter {
  width: 80%;
}

/* line 1, ../sass/modules/_sidebar.scss */
.hiddenSidebar {
  position: absolute;
  right: 0;
  height: 100%;
  width: 5%;
  background-color: #ccc;
  transition-property: width;
  transition-duration: .5s;
  transition-delay: .2s;
}
/* line 11, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul {
  list-style: none;
  text-align: center;
}
/* line 15, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul li.toggleIcon {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 30px;
  width: 30px;
  padding: 4px 0px;
  border-radius: 50%;
  border: 1px solid #000;
  transition-property: rotate();
  transition-delay: .2s;
  transition-duration: .5s;
}
/* line 33, ../sass/modules/_sidebar.scss */
.hiddenSidebar ul li.toggledIcon {
  transform: rotate(180deg);
}

/* line 39, ../sass/modules/_sidebar.scss */
.sidebar {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20%;
  background-color: #ccc;
}

/* line 47, ../sass/modules/_sidebar.scss */
.body {
  width: 95%;
  transition-property: width;
  transition-duration: .5s;
  transition-delay: .2s;
  text-align: justify;
}

/* line 55, ../sass/modules/_sidebar.scss */
.bodyAfter {
  width: 80%;
}
