.employers{
	width: 100%;
	height: 300px;
	margin: 50px 0;
	padding-top: 0px;

	h3{
		font-weight: bold;
		letter-spacing: 2px;
	}

	.content-interface{
		width: 90%;
		position: relative;
		top: 10px;
		margin: 0px 5%;
		background: #ccc;
		background-size: cover;
		border-radius: 5px;
		
		.content-slide{
			width: 100%;
			height: 200px;

			ul{
				height: 100%;
				width: 90%;
				margin: auto;
				list-style: none;
				padding: auto;
				padding-top: 35px;

				li{
					float: left;
					height: 80%;
					width: 12%;
					background: rgba(200,200,200,.3);
					margin-left: 45px;
					border-radius: 5px;
					overflow: hidden;

					img{
						height: 100%;
						width: 100%;
					}
				}

				li:first-child{
					margin-left: 10px;
				}
			}
		}	
	}
}