.jobPanel{
	height: 80vh;
	width: 95%;
	margin: 50px auto 80px auto; 
	background-color: rgba(224,224,224,.6);
	border-radius: 5px;
	padding: 25px; 
	box-shadow: 0 0 19px 8px #cacaca;
	
	.button-JobPanel{

		ul{
			list-style: none;
			height: 50px;
			width: 100%;
			margin: 0;
			padding: 0;
			border-radius: 5px;

			li{
				float: left;
				width: 11.11%;			/* 100/9 = 11.11 */
				height: 100%;
				background: transparent;
				margin: 0;
				margin-right: 1px;
				cursor: pointer;
				
				button{
					width: 100%;
					height: 100%;
					border: none;
					background: #ccc;
					//border-right: 2px solid rgba(210,210,210,1);
					border-bottom: 2px solid transparent;
					
					&:hover{
						background: #dfdfdf;
					}
				}

				#Recent{
					border-radius: 5px 0 0 0;
				}

				#Medical{
					border-radius: 0 5px 0 0;
					border-right: none;				
				}
			}
		}
	}

	.jobPanel-content{
		width: 100%;
		height: 90%;
		background: #dddeee;
		border-radius: 0 5px 5px 5px;

		.sidenav-Admin{
			float: left;
			height: 100%;
			width: 15%;

			ul{
				background-color: #ccc;
				list-style: none;
				margin: 0;
				padding: 0;
				height: 100%;
				width: 100%;
				border-radius: 0 0 0 5px;

				li{
					width: 100%;
					height: 14.2%;
					background-color: transparent;

					button{
						width: 100%;
						height: 100%;
						border: none;
						background: #DBDBDB;
						border-bottom: 2px solid #bbb;

						&:hover{
							background: #f0f0ef;
						}					
					}

					#AllOther{
						border-bottom: none;
						border-radius: 0 0 0 5px;
					}
				}
			}
		}

		.elements{
			width: 100%;
			height: 100%;//428px;
			background-color: transparent;
			float: left;
			border-radius: 0 0 5px 0;
			overflow-x: scroll;
			overflow-y: hidden;

			ol{
				position: relative;
				width: 400%;
				//list-style: none;
				margin: 0;
				padding: 15px 20px;
				transition: .7s;

				li{
					display: inline-block;
					height: 26vh;//110px;
					width: 100%;
					background-color: #aaa;
					padding: 6px 10px;
					margin-bottom: 20px;
					border-radius: 5px;

					.description{
					padding-right: 0;
						ol{
							background-color: red;
							width: 100%;
							height: 158px;
							margin: 0px;
							margin-right: -10px;
							padding: 0;
							overflow-y: scroll;

							li{
								height: 0px;
								width: 100px;
								background-color: transparent;
								font-size: 12px;
								margin: 0;
								padding: 0;
							}

							&::-webkit-scrollbar{
								width: 7px;
							}

							&::-webkit-scrollbar-thumb{
								background-color: #ccc;
							}

							&::-webkit-scrollbar-track{
								background-color: #eee;
							}

						}
					}

					.logoContainer{

						img{
							width: 100%;
						}
					}
				}

			}
				
			&::-webkit-scrollbar{
				height: 0;
			}
		}

		.withSideBtn{	//job panel content with left nav bar
			width: 85%; 
		}

		.slideBtn-JobPanel{
			float: right;
			width: 85%;
			position: relative;
			bottom: 30px;

			button{
				margin: 0;
				width: 50%;
				display: inline;
				float: left;
				font-size: 17px;
				letter-spacing: -3.5px;
				border: none;

				transition: background .3s;
			}

			.panel-left, .panel-right{
				transition-property: background;
				transition-duration: .5s;

				&:hover{
					background: $buttonGradient;
				}	
			}
		}

		.withoutSideBtn{
			width: 100%;		
		}
	}
}