.navBar{
	position: fixed;
	top: 0;
	background-color: #333;
	height: 66px;
	color: #fff;
	text-align: center;
	
	ul{
		list-style: none;
		float: right;

		li.apply{
			padding: 15px 23px;

			&:hover{
				background-color: #333;
			}

			button{
				background-color: #A0A0A0;
				border: none;
				border-radius: 5px;
				padding: 8px 10px;

				&:hover{
					background-color: #C0C0C0;
				}
			}
		}


		li{
			cursor: pointer;
			display: inline;
			float: left;
			padding: 23px;
			width: 150px;
			text-align: center;

			a{
				color: #fff;
				text-decoration: none;
			}
		}

		li:hover{
			background-color: #383838;
		}
	}
}


.navImg{
	padding-top: 10px;
	width: 120px;
}

#navLogo{
	position: absolute;
	margin: 0;
	padding: 0 23px;
	height: 66px;
	left: 0;
	
	&:hover{
		background-color: #333;
	}
}


.navBar ul li ul{
	background-color: #383838;
	padding: 0;
	margin: 22px -58px 0 0;
	display: none;

	li{
		display: inline-block;
		text-align: center;
		padding: 15px;
		background-color: #383838;
		width: 220px;

		p{
			padding: 10px;
			margin-top: 10px;
			display: none;
		}
	}

	li:hover{
		background-color: #333;
	}
}

#faq, #job{
	height: 66px;
}

.iconDown1, .iconDown2, .iconDown3{
	padding: 0 5px;
	transition-property: rotate();
	transition-duration: .5s;
	transition-delay: .2s;
}

 .iconUp1, .iconUp2, .iconUp3{
	transform: rotate(180deg);
}


