.left-right-button{
	height: 30vh;
	//width: 95%;
	background: transparent;
	z-index: 99;
	position: absolute;

	button{
		width: 100px;
		height: 100%;
		z-index: 9;
		position: absolute;
		border: none;
		color: transparent;
		font-size: 30px;

		transition: right .5s .2s, background .3s, color .3s;
	}
	.right-newsSlider{
		position: absolute;
		right: -1291px;
		background: linear-gradient(to right, 
							rgba(0,0,0,0), 
							rgba(255,255,255,.1), 
							rgba(255,255,255,.3), 
							rgba(255,255,255,.5), 
							rgba(255,255,255,.7)
							);

		&:hover{
			color: rgba(150,150,150,1);
			background: linear-gradient(to right, 
							rgba(0,0,0,0), 
							rgba(255,255,255,.1), 
							rgba(255,255,255,.3), 
							rgba(255,255,255,.5), 
							rgba(255,255,255,.7),
							rgba(255,255,255,.9)
							);
		}		

	}

	.right-newsSlider-after{
		position: absolute;
		right: -1087px;
		background: linear-gradient(to right, 
							rgba(0,0,0,0), 
							rgba(255,255,255,.1), 
							rgba(255,255,255,.3), 
							rgba(255,255,255,.5), 
							rgba(255,255,255,.7)
							);

		&:hover{
			color: rgba(150,150,150,1);
			background: linear-gradient(to right, 
							rgba(0,0,0,0), 
							rgba(255,255,255,.1), 
							rgba(255,255,255,.3), 
							rgba(255,255,255,.5), 
							rgba(255,255,255,.7),
							rgba(255,255,255,.9)
							);
		}		

	}

	.left-newsSlider{
		position: absolute;
		left: 0;
		background: linear-gradient(to left, 
							rgba(0,0,0,0), 
							rgba(255,255,255,.1), 
							rgba(255,255,255,.3), 
							rgba(255,255,255,.5), 
							rgba(255,255,255,.7)
							);

		&:hover{
			color: rgba(150,150,150,1);
			background: linear-gradient(to left, 
							rgba(0,0,0,0), 
							rgba(255,255,255,.1), 
							rgba(255,255,255,.3), 
							rgba(255,255,255,.5), 
							rgba(255,255,255,.7),
							rgba(255,255,255,.9)
							);
		}			
	}
}


.newsSlider{
	width: 100%;
	height: 30vh;
	background-color: rgba(150,150,150,.8);
	position: relative;
	overflow-y: hidden;
	overflow-x: scroll;

	&::-webkit-scrollbar{
		height: 0;
	}
		
	.contentContainer{
		width: 400%;
		height: 100%;
		position: relative;
		left: 0;
		margin: 0;
		transition: .5s ease-in-out;
		background-color: transparent;

		ul{
			margin: 0;
			padding: 0;
			display: flex;
			list-style: none;

			li{
				position: relative;
				width: 9%;
				height: 25vh;
				float: left;
				margin: 15px auto;
				background-color: #ccc;
				padding: 10px 10px 10px 20px;
				border-radius: 5px;
				text-align: justify;

				p{
					//letter-spacing: 1px;
					padding-top: 10%; 
				}

				input[type="button"]{
					height: 30px;
					width: 100px;
					background-color: #888;
					font-size: 20px;
					border: none;
					border-radius: 3px;
					font-weight: bolder;
					margin-top: 5%;
					
					&:hover{
						background-color: #777;
					}
				}

				img.event-image{
					width: 160px;
					height: 145px;
					padding: 0px 0;
					border-radius: 3px;
				}
			}

			li:nth-child(1){
				margin-left: 50px;
			}
		
			.moreNews{
				position: absolute;
				right: 0;
				margin-right: -257px;
				height: 100%;
				width: 250px;
				background-color: rgba(120,120,120,.6);
				padding: 0px 20px;
				align-items: center; 
			}
		}
	}
}