span.search-tab{
	width: 60%;
	position: relative;
	bottom: 125px;
	margin: auto;
	display: block;
	padding: 10px;
	background-color: rgba(158,158,158,.6);
	border-radius: 10px;
	z-index: 99;

	.searchTabBtns{
		display: flex;	

		button{
			float: left;
			height: 45px;
			border: none;
			padding: 0 10px;
			width: 120px;
			background-color: #aaa;
			border-radius: 5px 5px 0 0;
		}
	}

	.searchPanel{
		height: 50px;
		padding: 10px 5px 10px 10px;
		width: 100%;
		background-color: #ccc;
		display: flex;
		border-radius: 0 5px 5px 5px;

		input{
			width: 30%;
			height: 30px;
			border: none;
			border-radius: 15px;
			padding-left: 15px;
			margin-left: 2px; 
		}

		button{
			height: 30px;
			width: 30px;
			border: none;
			border-radius: 50%;
			background-color: #aaa;
			margin-left: 2%;
			transition: margin-left .5s .2s, background-color .3s, border-radius .3s;

			&:hover{
				background-color: #e0e0e0;
				border-radius: 50% 50%  50% 5px;
			}
		}

		.searchBtn-After{
			height: 30px;
			width: 30px;
			border: none;
			border-radius: 50%;
			background-color: #aaa;
			margin-left: 1%;

			
		}

		select{
			height: 30px;
			width: 30%;
			border: none;
			border-radius: 15px;
			padding: 0 15px;
			margin-left: 2px;
		}
	}
}