.hiddenSidebar{
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 5%;
	background-color: #ccc;
	z-index: 99;

	transition-property: width, background-color;
	transition-duration: .5s;
	transition-delay: .2s;	

	ul{
		list-style: none;
		text-align: center;

		li.toggleIcon{
			position: absolute;
			left: 25px;
			top: 15px;
			cursor: pointer;
			height: 30px;
			width: 30px;
			padding: 4px 0px;
			border-radius: 50%;
			border: 1px solid rgba(60,60,60,1);
			color: rgba(60,60,60,1);

			transition-property: rotate();
			transition-delay: .2s;
			transition-duration: .5s;

			&:hover{
				color: rgba(0,0,0,1);
				border: 1px solid rgba(0,0,0,1);
			}
		}

		li.toggledIcon{
			transform: rotate(180deg);
		}
	}
	
	.hiddenSidebar-content{
		position: relative;
		left: 999px;
		margin-top: 65px;
		transition-property: left;
		transition-delay: .2s;
		transition-duration: .8s;

		.socialLinks-hidden{
			position: absolute;
			top: -55px;
			left: 100px;
			
			ul{
				list-style: none;
				margin: 0;
				padding: 0;

				li{
					display: inline-block;
					height: 40px;
					width: 40px;
					padding-top: 7px;
					border-radius: 50%;
					background-color: #eee;
					margin-left: 10px;
					transition-property: background-color;
					transition-duration: .3s;
					
					a{
						color: #000;
						font-size: 20px;
						transition-property: color;
						transition-duration: .3s;
					}
				}

				.fb:hover{
					background-color: rgb(67, 118, 181);
				}

				.tw:hover{
					background-color: rgb(65, 173, 218);
				}

				li.ig{
					padding-top: 6px;
					padding-left: 1px;
				}

				.ig:hover{
					background-color: rgb(50, 50, 50);
				}

				.ig:hover a{
					color: #fff;
				}
			}
		}

		.marquee{
			margin: 0;

			p{
				padding: 0 0 0 5px;
				margin: 0 0 0 7px;
				background-color: #A8A8A8;
				width: 115px;
				color: #fff;
				letter-spacing: 2px;

				&::after{
					content: '';
					height: 0;
					width: 0;
					position: absolute;
					left: 137px;
					border-left: 20px solid #a8a8a8;
					border-top: 20px solid transparent;
				}
			}

			marquee{
				background-color: #e0e0e0;
				width: 20%;
				margin-left: 7px;
				margin-right: 7px;
				padding-top: 7px;
				
				ol{
					li{
						display: inline;
						margin: 20px;
					}
				}
			}
		}
		
		.content{

			ul{
				background-color: transparent;
				position: absolute;
				width: 20%;
				height: 75vh;
				margin: 25px 0px 10px 15px;
				align-items: center;
				padding: 0;
				padding-right: 10px;
				overflow-y: scroll;
				overflow-x: hidden;
				display: block;

				&::-webkit-scrollbar{
					width: 7px;
					background-color: transparent;
				}
	
				&::-webkit-scrollbar-thumb{
					background-color: transparent;
					border-radius: 3px;
				}

				&:hover{
					&::-webkit-scrollbar{
						background-color: #ccc;
					}

					&::-webkit-scrollbar-thumb{
						background-color: #aaa;
					}
				}

				li{
					background-color: #aaaaaa;
					margin-bottom: 20px;
					padding: 5px 20px 20px 20px;
					border-radius: 5px;

					.content-header{
						width: 95%;
						background-color: #ccc;
						margin: 5px auto 20px auto;
						text-transform: uppercase;
						border-radius: 3px;

						h3{
							padding-top: 12px;
							padding-bottom: 12px;
						}
					}

					.content-body{

						button{
							margin-top: 15px;
							background-color: #ccc;
							border: none;
							border-radius: 3px;
							padding: 5px;

							&:hover{
								background-color: #D6D6D6;
							} 
						}
					}
				}

				li:last-child{
					margin-bottom: 10px;
				}
			}
		}
	}
	
	.shownSidebar-content{
		position: relative;
		left: 0px;
	}

}

.socialLinks{
	position: absolute;
	bottom: 0;

	ul{
		background: transparent;
		display: block;
		box-sizing: border-box;
		margin: 0;
		padding: 0 12px;
		list-style: none;

		li{
			margin-bottom: 10px;
			padding: 12px 0;
			height: 50px;
			width: 50px;
			background-color: #eee;
			border-radius: 50%;
			cursor: pointer;

			transition-property: background-color, color;
			transition-duration: .3s;

			a{
				text-decoration: none;
				font-size: 20px;
				color: #000;
				transition-property: color;
				transition-duration: .3s; 
			}
		}

		.fb{

			&:hover{
				background-color: rgba(67, 118, 181, 1);
			}
		}

		.tw{

			&:hover{
				background-color: rgb(65, 173, 218);
			}
		}

		.ig{

			&:hover{
				background-color: rgb(50, 50, 50);
			}

			&:hover a{
				color: #fff;
			}
		}
	}
}


.sidebar{
	position: fixed;
	right: 0;
	height: 100%;
	width: 20%;
	background-color: #ccc;
}



.body, .navBar{
	width: 95%;
	transition-property: width;
	transition-duration: .5s;
	transition-delay: .2s;
	text-align: justify;
}

.bodyAfter, .navBar-After{
	width: 80%;
}

